@import url("/css/open-color.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 4rem;
  scroll-behavior: smooth;
}

:root {
  --form-bg: var(--oc-violet-0-rgb);
  --form-border-color: var(--oc-violet-1-rgb);

  --shadow-color: var(--oc-gray-9-rgb);
  --outline: 2px solid var(--oc-blue-4);
  --text-color: var(--oc-gray-8-rgb);
}

@font-face {
  font-family: "Jost";
  font-display: auto;
  unicode-range: U+000-5FF;
  src: local("Jost"), url("/fonts/Jost.woff2") format("woff2");
}

body {
  font-family: "Jost", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--oc-gray-8);
}

.wrapper {
  max-width: 1536px;
  margin: 0 auto;
  padding: 2rem 1.5rem 4rem;

  /* @media (width > 768px) {
    padding: 2rem 4rem 4rem;
  } */
}

.link {
  color: inherit;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  border-radius: 0.125rem;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: var(--outline);
    outline-offset: 0;
  }
}

.underline-header {
  position: relative;
  padding-bottom: 0.25rem;
  margin-bottom: 1.75rem;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: var(--oc-indigo-1);
  }
}

dfn {
  font-style: normal;
  font-weight: 500;
  color: var(--oc-cyan-8);
}

abbr {
  font-style: italic;
  text-decoration-thickness: 1px;
}

.code-inline {
  display: inline-flex;

  padding: 0 0.5rem;

  border-radius: 0.5rem;

  background-color: var(--oc-indigo-2);
}

.important-note {
  color: var(--oc-red-8);
}

.italic {
  font-style: italic;
}

.table-container {
  overflow-x: auto;
}

.table {
  border: 1px solid var(--oc-gray-5);
  border-collapse: collapse;

  font-size: 1rem;

  & caption {
    font-weight: 500;
    text-align: left;

    padding: 0.5rem 0;
  }

  & th {
    background-color: var(--oc-indigo-5);
    color: #ffffff;
  }

  & th,
  & td {
    border: 1px solid var(--oc-gray-5);
    padding: 0.25rem 0.5rem;
  }

  & tr:nth-child(even) {
    background-color: var(--oc-indigo-0);
  }
}

.summary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;

  @media (width > 768px) {
    & {
      flex-direction: row;
    }
  }
}

.summary-card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  margin-top: 1rem;

  padding: 1rem;
  border: 2px solid var(--oc-gray-2);
  border-radius: 0.5rem;

  & span {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: 500;
    text-transform: uppercase;
  }
}

.pros span i,
.cons span i {
  font-size: 2rem;
}

.pros {
  border-color: var(--oc-green-7);

  & span i {
    color: var(--oc-green-7);
  }
}

.cons {
  border-color: var(--oc-red-7);

  & span i {
    color: var(--oc-red-7);
  }
}

.photo {
  display: block;

  width: 100%;
  height: auto;
  aspect-ratio: 3/2;
}

.site-header {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background-color: var(--oc-indigo-6);
}

.header-sticky {
  position: sticky;
  top: 0;
  z-index: 1;
}

.site-logo {
  display: inline-flex;

  padding: 0.25rem;

  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 0.8;
  }

  & img {
    width: 6rem;
    height: auto;
  }
}

.site-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  padding: 4rem 1rem;
  background-color: var(--oc-indigo-9);
  color: var(--oc-gray-0);

  & img {
    width: 12rem;
    height: auto;
  }
}

.copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  font-size: 0.75rem;
}

.breadcrumbs {
  position: sticky;
  top: -1px;
  z-index: 1;

  padding: 1rem 1.5rem;
  background-color: var(--oc-gray-0);

  box-shadow: 0 1px 2px rgb(var(--shadow-color), 0.2);

  @media (width > 768px) {
    & {
      padding: 1rem 4rem;
    }
  }
}

.breadcrumbs__links {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  color: var(--oc-gray-7);
  font-size: 0.75rem;

  list-style: none;

  & .link:hover,
  & li:last-child {
    color: var(--oc-indigo-6);
  }
}

.site-title {
  font-size: 2.5rem;
  text-align: center;
  padding: 2rem 0 3rem;
}

.examples {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 4rem;

  @media (width > 768px) {
    & {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}

.example-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: var(--oc-gray-0);

  border: 2px solid var(--oc-indigo-4);
  border-radius: 0.5rem;

  box-shadow: 0 0 6px rgb(var(--shadow-color), 0.2);

  & .example-card__annotation {
    padding: 1rem;

    & p {
      font-weight: 300;
      margin: 1rem 0;
    }
  }

  & .example-card__open {
    display: block;
    padding: 1rem;

    width: 100%;

    background-color: var(--oc-indigo-4);

    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    color: #ffffff;

    border-radius: 0 0 0.35rem 0.35rem;

    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: var(--oc-indigo-5);
    }
  }
}

.new {
  border: 2px solid transparent;
  background: linear-gradient(#fff, #fff 0) padding-box,
    linear-gradient(to right, rgb(55, 178, 77), rgb(232, 89, 12)) border-box;
}

.example-new {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & span {
    font-weight: 300;
    font-size: 1rem;
    color: var(--oc-indigo-8);
    text-transform: uppercase;
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;

  text-transform: uppercase;
  font-weight: 700;

  padding: 2rem 0 3rem;

  & i {
    display: none;
    color: var(--oc-pink-6);
  }

  @media (width > 640px) {
    & i {
      display: inline-flex;
    }
  }
}

.gallery {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 2rem;

  @media (width >= 1024px) {
    .gallery {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}

.card {
  position: relative;
  margin: 0;
  padding: 0;
  height: fit-content;

  &:hover {
    cursor: pointer;
  }

  &:hover .card__caption {
    opacity: 1;
  }

  & img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 0.5rem;
  }
}

.card__caption {
  position: absolute;
  bottom: 0;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 0 0 0.5rem 0.5rem;

  padding: 1rem;

  background-color: rgb(var(--oc-gray-9-rgb), 0.5);

  color: var(--oc-gray-0);
  font-size: 0.75rem;

  opacity: 0;

  transition: opacity 0.2s ease-in-out;

  & p {
    text-transform: uppercase;
    font-weight: 700;
  }
}

.card__info {
  display: flex;
  align-items: center;
  gap: 1rem;

  & span,
  & a {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
  }

  & a:link,
  & a:visited {
    color: var(--oc-gray-0);
    text-decoration: none;
    transition: color 0.1s ease-in;
    border-radius: 0.25rem;
  }

  & a:hover,
  & a:active {
    color: var(--oc-orange-1);
  }
}

/* Text */
.layout {
  display: grid;
  grid-template-columns: 1fr;

  @media (width > 768px) {
    & {
      grid-template-columns: 1fr minmax(0, auto);
      /* gap: 1rem; */
    }
  }
}

/* .contents-wrapper {
  padding: 0 0 0 1rem;

  @media (width > 1280px) {
    & {
      padding: 0 2rem;
    }
  }
} */

.contents {
  position: sticky;
  top: 80px;

  display: none;

  max-width: 20rem;

  background-color: #ffffff;

  border: 2px solid var(--oc-indigo-4);
  border-radius: 0.5rem;

  padding: 1rem 1.5rem;

  box-shadow: 0 0 6px rgb(var(--shadow-color), 0.2);

  & h2 {
    padding-bottom: 1rem;
  }

  & ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    list-style: none;
  }

  & .link {
    display: block;
  }

  & .link:hover {
    text-decoration: underline;
  }

  @media (width > 1280px) {
    & {
      display: block;
    }
  }
}

.article {
  font-weight: 300;
  font-size: 1.25rem;
  line-height: 1.5;

  overflow-x: hidden;

  max-width: 48rem;
  width: 100%;
  margin: 0 auto;

  & section {
    margin-top: 2rem;
  }

  & ul,
  & ol {
    padding-left: 1.75rem;
  }

  & li {
    margin: 0.5rem 0;
  }

  & p {
    margin: 1rem 0;
  }

  
}

.article__title {
  text-transform: uppercase;
  margin-bottom: 2rem;
}

/* Forms */
.container {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  justify-items: center;
  gap: 2rem;
}

@media (width > 768px) {
  .container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.signup-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 26rem;

  border: 1px solid var(--form-border-color);
  border-radius: 0.5rem;

  background-color: var(--form-bg);

  padding: 2rem 1rem;
  width: 100%;

  box-shadow: 0 1px 6px 0 var(--shadow-color);

  & h2 {
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.25rem;
  }
}

@media (width > 768px) {
  .form-container {
    padding: 2rem;
  }
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.signup-form__field {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  & input:focus-visible {
    outline: 2px solid #845ef7;
  }

  & input:not([type="submit"], [type="reset"]) {
    border: 1px solid #b197fc;
    border-radius: 0.5rem;

    padding: 0.75rem;

    font-family: "Jost", sans-serif;
    font-size: 1.125rem;
    color: #343a40;
  }

  & label {
    font-weight: 700;
  }
}

.tip {
  display: flex;
  justify-content: space-between;

  & small {
    font-weight: 300;
    color: #868e96;
  }
}

.signup-form__buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  margin-top: 2rem;
}

.btn {
  cursor: pointer;
  padding: 1rem 2rem;

  color: #ffffff;

  border: 1px solid #7048e8;
  border-radius: 0.5rem;
  text-transform: uppercase;

  transition: background-color 0.2s ease-in-out;

  &:focus-visible {
    outline: 2px solid #845ef7;
  }
}

.primary {
  background-color: #7048e8;

  &:hover {
    background-color: #845ef7;
  }
}

.secondary {
  background-color: transparent;
  color: #7048e8;

  &:hover {
    background-color: #7048e8;
    color: #ffffff;
  }
}

.signup-request {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;

  & h2 {
    text-align: center;
    text-transform: uppercase;
  }
}

.code {
  background-color: #fff9db;
  padding: 1rem;

  line-height: 1.5;

  border: 1px solid #fff3bf;
  border-radius: 0.5rem;

  overflow-x: auto;

  box-shadow: 0 1px 6px 0 rgb(var(--shadow-color), 0.2);
}

.no-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-top: 4rem;

  color: #d0bfff;

  & i {
    font-size: 6rem;
  }
}
